body {
    font-family: sans-serif;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1::first-letter {
    font-size: 70px;
}

form {
    background-color: #444;
    border: 1px solid #666;
    color: #fff;
    padding: 10px;
}

label {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
textarea,
select {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.boton {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border-radius: 18px;
    padding: 8px 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.boton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

label input[type="radio"],
label input[type="checkbox"] {
    display: inline;
    margin-right: 5px;
    color: #fff;
}

select {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
    cursor: pointer;
}

#cencoding {
    margin-top: 4px;
}